<div class="leftPanel">
  <p>filemenager </p>
</div>
<form method="POST" action="/upload" enctype="multipart/form-data">
  <input type="file" required multiple name="upload">
  <input type="submit">
</form>
